@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.chart{
    font-family: 'Poppins', sans-serif;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-left: 15%;
}